/bin/*
!bin/custom/
/data
/config/*
!/config/localextensions.xml
!/config/local.properties
/.idea
/idea-module-files
/log
/temp
*.xsd
*.class
.project
*.launch
.classpath
.springBeans
*.number
*.txt
*.prefs
*.png
*.csv
*.less
*.js

